@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 15px;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, .2);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, .7);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    border-radius: 12px;
    letter-spacing: 2px;
    transition: transform 0.3s ease-in-out;
}

.relogio div:hover {
    transform: translateY(-10px);
}

.relogio span {
    font-weight: 500;
    font-size: 55px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.relogio span.tempo {
    font-size: 12px;
    font-weight: 300;
    color: #ddd;
    text-shadow: none;
}
